@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f3f2f9;
  --foreground: #606887;
  --accent: #ff9c45;

  --light: #f3f2f9;
  --dark: #606887;
  --hover: #272834;

  --granola: #702c63;
  --moviedux: #cf6a0d;
  --tidytouch: #688f4a;
  --wyr: #4a60ab;

  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-inconsolata: "Inconsolata", ui-sans-serif, system-ui, sans-serif;
  --font-homemadeapple: "Homemade Apple", ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --background: #272834;
  --foreground: #f3f2f9;
  --accent: #ff9c45;

  --granola: #d954be;
  --moviedux: #ff7a00;
  --tidytouch: #88be60;
  --wyr: #6f8ae1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.font-logo {
  font-family: var(--font-homemadeapple) !important;
  font-weight: 400;
}

.font-hero {
  font-family: var(--font-poppins) !important;
  font-weight: 900;
  color: var(--foreground);
}

.font-cursive {
  font-family: var(--font-homemadeapple) !important;
  color: var(--accent);
}

.font-header {
  font-family: var(--font-inconsolata) !important;
  font-weight: 700;
}

.font-wide {
  display: inline-block;
  transform: scaleX(2);
  transform-origin: left;
  font-weight: 400;
}

.font-parent:hover .font-wide {
  transform: scaleX(1);
  font-weight: 700;
}

.transition {
  transition: all 400ms ease;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 2px var(--foreground);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.noise-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1) rotate(45deg);
  }
  50% {
    opacity: 0.2;
    transform: scale(1.1) rotate(45deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.animate-rotate {
  animation: rotate 20s linear infinite;
}

/* Light mode chrome gradient */
:root {
  --chrome-gradient: linear-gradient(
    110deg,
    #605b75,
    #4b465c,
    #7a7393,
    #3a3448,
    #6a6480,
    #605b75
  );
}

/* Dark mode chrome gradient */
.dark {
  --chrome-gradient: linear-gradient(
    110deg,
    #e1dff0,
    #c6c1d8,
    #f2f0fa,
    #a7a1c3,
    #d1ccdf,
    #e1dff0
  );
}

.chrome-text {
  background: var(--chrome-gradient);
  background-size: 300% 300%;
  animation: chromeMove 6s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: brightness(1.2) contrast(1.2);
}

@keyframes chromeMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
